[package]
name = "kernel"
version = "0.1.0"
edition = "2024"
authors = ["Vincent Rheker <vincent.rheker@gmail.com>"]

[dependencies]
bootloader = "0.9" 

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[[bin]]
name = "kernel"
test = false
bench = false